.image-card{
	//background: #2F2E41!important;
	margin-top: 110px!important;
	height: 268px;
	position: relative;
	margin-bottom: 100px!important;
	img{
		width: 550px;
		margin-top: -137px;

		transform: rotate(3.4deg);

	}
	.text-segment{
		position: absolute;
		top:28%;
		left:26%;
		z-index: 999;
		padding: 10px;
		h4,p{
			text-align: center;
			background: -webkit-linear-gradient(-50deg, #FF6584, #963cff);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		h4{
			font-size: 3em;
		}
		p{
			font-size: 1.2em;
		}
	}

}
