//- Theme Color Options
- const Theme = 'red';

//- For SEO Optimization required
- const siteTitle = 'Andiamo Admin Template';
- const siteDescription = 'Andiamo Fomantic-ui Based Admin Template';
- const siteKeywords = 'semantic,semantic-ui,fomantic-ui,admin,template,admin-template,TemplateMonster,css,pug,sass';
- const siteAuthor = 'Partitect';
- const siteRobots = 'noindex,nofollow';
- const siteUrl = 'https://andiamo.netlify.app/';
- const siteLanguage = 'en'

//- Copyright
- const siteCopyright = '1 December 2020 partitect.info';

//- Logo Url
- const siteLogoUrl = 'assets/img/logo.svg';

//- Favicons
- const siteFavicon = 'assets/img/favicon/favicon.svg';

//- Address Bar Color
- const siteThemeColor = '#ffffff';
