//Landing Page Styles
body.__landing-pages {
	.hidden.menu {
		display: none;
	}
	.__landing-cards {
		.card {
			box-shadow: none;
			.image {
				width: 100%;
				background: #f0eff5;
				img {
					width: 100%;
					height: 330px;
					object-fit: contain;
				}
			}
		}
	}
	.ui.menu {
		&.secondary {
			.item {
				color: #fff !important;
			}
		}
	}
	.masthead.segment {
		background: url("../img/landing-page/masthead.jpg");
		width: 100%;
		height: 860px;
		padding: 15px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 1;
	}
	.masthead .logo.item img {
		margin-right: 1em;
	}
	.masthead .ui.menu .ui.button {
		margin-left: 0.5em;
	}
	.masthead h1.ui.header {
		margin-top: 0.75em;
		margin-bottom: 0em;
		font-size: 4em;
		font-weight: normal;
	}
	.masthead h2 {
		font-size: 1.7em;
		font-weight: normal;
		margin-bottom: 20px;
	}
	.placeholder.segment {
		margin-bottom: 20px;
		min-height: 80px !important;
		.header {
			font-size: 0.75em;
		}
	}

	.ui.vertical.stripe {
		padding: 2em 0em;
	}
	.ui.vertical.stripe h3 {
		font-size: 1.2em;
	}
	.ui.vertical.stripe .button + h3,
	.ui.vertical.stripe p + h3 {
		margin-top: 3em;
	}
	.ui.vertical.stripe .floated.image {
		clear: both;
	}
	.ui.vertical.stripe p {
		font-size: 1em;
	}
	.ui.vertical.stripe .horizontal.divider {
		margin: 3em 0em;
	}

	.quote.stripe.segment {
		padding: 0em;
	}
	.quote.stripe.segment .grid .column {
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.footer.segment {
		padding: 5em 0em;
	}

	.secondary.pointing.menu .toc.item {
		display: none;
	}

	@media only screen and (max-width: 700px) {
		.ui.fixed.menu {
			display: none !important;
		}
		.secondary.pointing.menu .item,
		.secondary.pointing.menu .menu {
			display: none;
		}
		.secondary.pointing.menu .toc.item {
			display: block;
		}
		.masthead.segment {
			min-height: 350px;
			padding: 1em 0em 200px 0;
		}
		.masthead h1.ui.header {
			font-size: 2em;
			margin-top: 1.5em;
		}
		.masthead h2 {
			margin-top: 0.5em;
			font-size: 1.5em;
		}
	}
	.footer {
		&.__landing-footer {
			background: #1c293c;
			padding: 30px;
			h1 {
				color: #fff !important;
			}
			img{
				width:100%;
				height: 200px;
			}
		}
	}
}
