-
    var menu = {
        'Dashboards': {
            text: "Dashboards",
            link: "dashSubmenu",
            icon: "icon-ziyuan118",
            child: [
            {
                text: "Default",
                link: "home-dashboard.html"
            },{
                text: "Crypto",
                link: "crypto-dashboard.html"
            },{
                text: "Analytics",
                link: "analystic-dashboard.html"
            }, {
                text: "Restaurant",
                link: "restaurant-dashboard.html"
            }, {
                text: "Fitness",
                link: "fitness-dashboard.html"
            }, {
                text: "Sale",
                link: "sale-dashboard.html"
            }, {
                text: "Event",
                link: "event-dashboard.html"
            }]
        },
        'Apps': {
            text: "Apps",
            link: "appsSubmenu",
            icon: "icon-ziyuan136",
            child: [{
                text: "Calendar",
                link: "calendar.html"
            }, {
                text: "Support Ticket",
                link: "support-ticket.html"
            },{
                text: "Gallery",
                link: "gallery.html"
            }]
        },
        'Elements': {
            text: "UI Elements",
            link: "uiSubmenu",
            icon: "icon-ziyuan133",
            child: [ {
                text: "Grid Systems",
                link: "grids.html"
            }, {
                text: "Buttons",
                link: "buttons.html"
            },{
                text: "Icons",
                link: "icons.html",
            }, {
                text: "Cards",
                link: "cards.html",
            }, {
                text: "Widgets",
                link: "widgets.html",
            }, {
                text: "Breadcrumbs",
                link: "breadcrumbs.html"
            },{
                text: "Messages",
                link: "messages.html"
            }, {
                text: "Labels",
                link: "labels.html"
            }, {
                text: "Lists",
                link: "lists.html"
            },{
                text: "Menu",
                link: "menu.html"
            }, {
                text: "Statistic",
                link: "statistic.html"
            }]
        },  'Scripts': {
            text: "Scripts",
            link: "scriptsSubMenu",
            icon: "icon-ziyuan50",
            child: [
           {
                text: "Alerts",
                link: "alerts.html",
            }, {
                text: "Transitions",
                link: "transitions.html",
            },{
                text: "Dropdowns",
                link: "dropdowns.html"
            },
             {
                text: "Accordion",
                link: "accordions.html"
            },  {
                text: "Modals",
                link: "modals.html"
            },{
                text: "Tooltips",
                link: "tooltips.html"
            },{
                text: "Tabs",
                link: "tabs.html"
            }]
        },
        'Typography': {
            text: "Typography",
            link: "appsSubmenu",
            icon: "icon-ziyuan58",
            child: [{
                text: "Typography",
                link: "typography.html"
            },{
                text: "Colors",
                link: "colors.html"
            }]
        },
        'Pages': {
            text: "Pages",
            link: "pagesSubmenu",
            icon: "icon-ziyuan34",
            child: [
            {
                text: "Profile",
                link: "profile.html"
            },{
                text: "Pricing",
                link: "pricing.html"
            },{
                text: "Register",
                link: "register.html",
            },{
                text: "Login",
                link: "login.html",
            },{
                text: "Error 404",
                link: "404.html"
            },{
                text: "Error 500",
                link: "500.html"
            },{
                text: "Blank Page",
                link: "blank.html"
            }]
        },
        'Forms': {
            text: "Forms",
            link: "formsSubmenu",
            icon: "icon-ziyuan60",
            child: [
            {
                text: "Basic Forms",
                link: "basic-forms.html"
            }, {
                text: "Form Elements",
                link: "form-elements.html"
            },{
                text: "Form Validation",
                link: "form-validation.html"
            }]
        },
        'Tables': {
            text: "Tables",
            link: "tablesSubmenu",
            icon: "icon-ziyuan42",
            child: [
            {
                text: "Basic Tables",
                link: "basic-tables.html",
                sidebarBadge: "New"
            }, {
                text: "Data Table",
                link: "datatable.html"
            }]
        },
        'Charts': {
            text: "Charts",
            link: "chartsSubmenu",
            icon: "icon-ziyuan39",
            child: [
            {
                text: "Echarts",
                link: "echarts.html"
            }]
        }, 'Maps': {
            text: "Maps",
            link: "mapsSubmenu",
            icon: "icon-ziyuan127",
            child: [
            {
                text: "Maps",
                link: "maps.html"
            }]
        },'MultiLevel': {
            text: "Multi Level",
            link: "multilevelSubmenu",
            icon: "icon-ziyuan132",
            child: [
            {
                text: "Multi Level 1",
                link: "#"
            }, {
                text: "Multi Level 2",
                link: "#",
                child: [
                        {
                            text: "Multi Level 2.1",
                            link: "#"
                        }, {
                            text: "Multi Level 2.2",
                            link: "#",
                            child: [
                                    {
                                        text: "Multi Level 2.2.1",
                                        link: "#"
                                    }, {
                                        text: "Multi Level 2.2.2",
                                        link: "#"
                                    }, {
                                        text: "Multi Level 2.2.3",
                                        link: "#"
                                    }
                                    ]
                        }, {
                            text: "Multi Level 2.3",
                            link: "#"
                        }]
            }, {
                text: "Multi Level 3",
                link: "#"
            }]
        },
          'Docs': {
            icon: "icon-ziyuan111",
            text: "Docs",
            link: "docs",
         	 child: [{
                text: "Andiamo Document",
                link: "docs.html"
            }],
            target:"_blank"
        },

    };
