-
    var menu = {
        'Home': {
            text: "Home",
            link: "index.html",
            icon: "icon-ziyuan118",
            child: []
        },
        'AboutMe': {
            text: "About Me",
            link: "about.html",
            icon: "icon-ziyuan118",
            child: []
        },
        'Works': {
            text: "Works",
            link: "works.html",
            icon: "icon-ziyuan118",
            child: []
        },
        'Blog': {
            text: "Blog",
            link: "blog.html",
            icon: "icon-ziyuan118",
            child: []
        },
    };
