+line
+c('Scripts')
+vendorscript('jquery','jquery/dist',true)
+vendorscript('semantic','fomantic-ui/dist',true)
+vendorscript('echarts-en','echarts/dist',true)
+vendorscript("jquery.slimscroll",'jquery-slimscroll',true)
+vendorscript("waves",'waves/dist',true)
+vendorscript("clipboard",'clipboard/dist',true)
+vendorscript("prism",'prism',"")
+vendorscript("prism-normalize-whitespace",'prism/plugins/normalize-whitespace',true)
+vendorscript("prism-toolbar",'prism/plugins/toolbar',true)
script(src="./assets/js/vendors/right-sidebar-charts.min.js")
script(src="./assets/js/vendors/prism-script.min.js")
block extraScripts

+script('app')
