+line
+c('Scripts')
+vendorscript('jquery','jquery/dist',true)
+vendorscript('semantic','fomantic-ui/dist',true)
+vendorscript('echarts-en','echarts/dist',true)
+vendorscript('echarts-liquidfill','echarts-liquidfill/dist',true)
+vendorscript("jquery.slimscroll",'jquery-slimscroll',true)

block extraScripts

+script('app')
