+c('Styles')
+vendorlink("semantic",'fomantic-ui/dist',true)

+link('app')
if (isTemplatemonsterTheme)
	+line
	+line
	+c('Color Options')
	+c('Note: if you delete the Color Switcher plugin, remove this element ~ id=color-switcher ~ attribute')

	+line
	+line
block extraStyles
