+c('Styles')
+vendorlink("semantic",'fomantic-ui/dist',true)
+vendorlink("waves",'waves/dist',true)
+vendorlink("prism-tomorrow",'prism/themes',false)
+vendorlink("prism-toolbar",'prism/plugins/toolbar/',false)

link#AndiamoIconfont(rel="stylesheet" href="assets/fonts/andiamo-icons/iconfont.css")
link#TemplateIconfont(rel="stylesheet" href="assets/fonts/iconfont/iconfont.css")

+link('app')
if (isTemplatemonsterTheme)
	+line
	+line
	+c('Color Options')
	+c('Note: if you delete the Color Switcher plugin, remove this element ~ id=color-switcher ~ attribute')

	+line
	+line
block extraStyles
