.loader-segment
	svg.svg-logo(viewBox='0 0 1024 1024', version='1.1', xmlns='http://www.w3.org/2000/svg',  data-spm-anchor-id='a313x.7781069.0.i7', xmlns:xlink='http://www.w3.org/1999/xlink', width='200', height='200')
		defs
			style(type='text/css').
		path(d='M398.904889 719.274667l-224.568889-224.540445a158.321778 158.321778 0 0 1 0-223.857778l224.568889-224.512a158.264889 158.264889 0 0 1 223.829333 0l224.568889 224.540445a158.264889 158.264889 0 0 1 0 223.829333l-224.568889 224.568889a158.264889 158.264889 0 0 1-223.829333 0', fill='#ff2882', data-spm-anchor-id='a313x.7781069.0.i1')
		path.selected(d='M398.904889 957.070222l-224.568889-224.568889a158.293333 158.293333 0 0 1 0-223.800889l224.568889-224.540444a158.264889 158.264889 0 0 1 223.829333 0l224.568889 224.540444a158.236444 158.236444 0 0 1 0 223.800889l-224.568889 224.568889a158.264889 158.264889 0 0 1-223.829333 0', fill='rgba(150, 60, 255, .8)', data-spm-anchor-id='a313x.7781069.0.i5')
		path.selected(d='M622.734222 719.303111l217.543111-217.6-217.543111-217.543111a158.264889 158.264889 0 0 0-223.829333 0l-217.6 217.571556 217.6 217.571555a158.264889 158.264889 0 0 0 223.857778 0', fill='rgba(150, 60, 255, .8)',  data-spm-anchor-id='a313x.7781069.0.i0')
