extends layouts/default
block pageVars
	- var page = "telatkaya";
	- var menuCrumb = "Pages";
	- var pageTitle = "Telat Kaya Personal Web";
block PageContent
	.main-wrapper
		.page-wrapper
			.teka-charts(id="tekaCharts",style="width:100%;height:85vh")
block extraScripts
	script(src="./assets/js/vendors/_charts.min.js")
