table.table {
	&.support-table {
		border-collapse: separate;
		border-spacing: 0 1em;

		thead {
			background: rgba(var(--semi-transparent-bg), 0.5);

			th {
				color: var(--font-color);
				text-align: left;
				padding: 17px;

				&:first-child {
					border-radius: 10px 0 0 10px;
				}

				&:last-child {
					border-radius: 0 10px 10px 0;
				}
			}
		}

		tbody {
			tr {
				background: var(--bg-color);
				box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
				min-height: 50px;
				cursor: pointer;

				td {
					padding: 0.55rem;
					vertical-align: middle;

					.td-content {
						display: inline-flex;
						align-items: center;
						justify-content: center;
					}

					> * {
						vertical-align: middle;
					}

					&:first-child {
						border-radius: 10px 0 0 10px;
					}

					&:last-child {
						border-radius: 0 10px 10px 0;
					}

					img {
						width: 25px;
						height: 25px;
						float: left;
					}

					span {
						margin-left: 10px;
						padding: 0.55rem;
						vertical-align: middle;
					}
				}
			}
		}
	}
	&.crypto-table {
		border-collapse: separate;
		border-spacing: 0 1em;

		thead {
			background: rgba(var(--semi-transparent-bg), 0.5);

			th {
				color: var(--font-color);
				text-align: left;
				padding: 17px;

				&:first-child {
					border-radius: 10px 0 0 10px;
				}

				&:last-child {
					border-radius: 0 10px 10px 0;
				}
			}
		}

		tbody {
			tr {
				background: var(--bg-color);
				box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
				min-height: 50px;
				cursor: pointer;

				td {
					&.id {
						width: 30px;
					}
					&.img {
						width: 180px;
					}
					&.chart {
						width: 200px;
					}
					padding: 0.55rem;
					vertical-align: middle;

					.td-content {
						display: inline-flex;
						align-items: center;
						justify-content: center;
					}

					> * {
						vertical-align: middle;
					}

					&:first-child {
						border-radius: 10px 0 0 10px;
					}

					&:last-child {
						border-radius: 0 10px 10px 0;
					}

					img {
						width: 25px;
						height: 25px;
						float: left;
					}

					span {
						margin-left: 0px;
						padding: 17px;
						vertical-align: middle;
						text-align: center;
					}
				}
			}
		}
	}
}
