
	.document-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: baseline;

		.docs-menu {
			position:fixed;
			width:20%;
			height: 100vh;
			background: rgba(0, 0, 0, 0.1);
			padding:20px;
			h6{
				margin-bottom: 20px;
			}
			ul{
				li{
					margin-bottom: 10px;
				}
			}
			@media only screen and (max-width: 375px) {
				width:30%;
			}

		}
		.docs-content{
			margin-left: 20%;
			overflow-y: auto;
			width: 80%;
			min-height: 100vh;
			padding:40px;
			.ui.message{
				.header{
					margin-bottom: 20px;
				}
			}
		}
	}
