.accordion-content {
    .ui.segment {
        min-height: 450px;
    }
}

.ui.accordion {
    &.styled {
        background: var(--partials-bg-color);
        //-webkit-box-shadow: 0 1px 2px 0 rgba(var(--rgb-white), .1), 0 0 0 1px rgba(var(--rgb-white), .1);
        //box-shadow: 0 1px 2px 0 rgba(var(--rgb-white), .1), 0 0 0 1px rgba(var(--rgb-white), .1);

        .item {
            background: var(--partials-bg-color);
        }

        .title {
            color: var(--font-color) !important;
            font-weight: 300 !important;
            //border-top: 1px solid rgba(var(--rgb-white), .1);
        }
    }

    .item {
        background: var(--partials-bg-color) !important;
        //-webkit-box-shadow: 0 1px 2px 0 rgba(var(--rgb-white), .1), 0 0 0 1px rgba(var(--rgb-white), .1) !important;
		//box-shadow: 0 1px 2px 0 rgba(var(--rgb-white), .1), 0 0 0 1px rgba(var(--rgb-white), .1) !important;
		.content {
			.form {
				label {
					color: var(--font-color) !important;
				}
			}
		}
    }

    .accordion {
        background: var(--partials-bg-color) !important;
        //-webkit-box-shadow: 0 1px 2px 0 rgba(var(--rgb-white), .1), 0 0 0 1px rgba(var(--rgb-white), .1) !important;
        //box-shadow: 0 1px 2px 0 rgba(var(--rgb-white), .1), 0 0 0 1px rgba(var(--rgb-white), .1) !important;
    }


}
