.andi-btn {
	border-radius: 5px;
	padding: 0.75rem 2rem;
	background: transparent;
	margin: 0 0.35em 10px 0;
	cursor: pointer;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 42px;
	outline: none;
	vertical-align: baseline;
	transition: box-shadow 3s ease-in-out;
	&.disabled {
		cursor: default;
		opacity: 0.45 !important;
		background-image: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		pointer-events: none !important;
	}
	&.fluid {
		width: 100% !important;
	}
	&.filled {
		color: #fff;
		transition: box-shadow 0.3s ease-in-out;

		&.primary {
			background: rgba(var(--btn-primary), 1) !important;

			&:hover {
				-webkit-box-shadow: 0 8px 25px -8px rgba(var(--btn-primary), 1);
				box-shadow: 0 8px 25px -8px rgba(var(--btn-primary), 1);
			}
		}

		&.success {
			background: rgba(var(--btn-success), 1);

			&:hover {
				-webkit-box-shadow: 0 8px 25px -8px rgba(var(--btn-success), 1);
				box-shadow: 0 8px 25px -8px rgba(var(--btn-success), 1);
			}
		}

		&.info {
			background: rgba(var(--btn-info), 1);

			&:hover {
				-webkit-box-shadow: 0 8px 25px -8px rgba(var(--btn-info), 1);
				box-shadow: 0 8px 25px -8px rgba(var(--btn-info), 1);
			}
		}

		&.lightInfo {
			background: rgba(var(--btn-lightInfo), 1);

			&:hover {
				-webkit-box-shadow: 0 8px 25px -8px rgba(var(--btn-lightInfo), 1);
				box-shadow: 0 8px 25px -8px rgba(var(--btn-lightInfo), 1);
			}
		}

		&.danger {
			background: rgba(var(--btn-danger), 1);

			&:hover {
				-webkit-box-shadow: 0 8px 25px -8px rgba(var(--btn-danger), 1);
				box-shadow: 0 8px 25px -8px rgba(var(--btn-danger), 1);
			}
		}

		&.warning {
			background: rgba(var(--btn-warning), 1);

			&:hover {
				-webkit-box-shadow: 0 8px 25px -8px rgba(var(--btn-warning), 1);
				box-shadow: 0 8px 25px -8px rgba(var(--btn-warning), 1);
			}
		}

		&.dark {
			background: rgba(var(--btn-dark), 1);

			&:hover {
				-webkit-box-shadow: 0 8px 25px -8px rgba(var(--btn-dark), 1);
				box-shadow: 0 8px 25px -8px rgba(var(--btn-dark), 1);
			}
		}

		&.light {
			background: rgba(var(--btn-light), 1);

			&:hover {
				-webkit-box-shadow: 0 8px 25px -8px rgba(var(--btn-light), 1);
				box-shadow: 0 8px 25px -8px rgba(var(--btn-light), 1);
			}
		}

		&.energy {
			background: rgba(var(--btn-energy), 1);

			&:hover {
				-webkit-box-shadow: 0 8px 25px -8px rgba(var(--btn-energy), 1);
				box-shadow: 0 8px 25px -8px rgba(var(--btn-energy), 1);
			}
		}
	}

	&.bordered {
		color: var(--font-color);
		transition: background-color 0.3s ease-in-out;
		&.active {
			background: rgba(var(--btn-primary), 0.1);
			color: var(--font-color) !important;
		}
		&.primary {
			border: solid 2px rgba(var(--btn-primary), 1);

			&:hover {
				background: rgba(var(--btn-primary), 0.1);
				color: var(--font-color) !important;
			}
		}

		&.success {
			border: solid 2px rgba(var(--btn-success), 1);

			&:hover {
				background: rgba(var(--btn-success), 0.1);
			}
		}

		&.danger {
			border: solid 2px rgba(var(--btn-danger), 1);

			&:hover {
				background: rgba(var(--btn-danger), 0.1);
			}
		}

		&.info {
			border: solid 2px rgba(var(--btn-info), 1);

			&:hover {
				background: rgba(var(--btn-info), 0.1);
			}
		}

		&.warning {
			border: solid 2px rgba(var(--btn-warning), 1);

			&:hover {
				background: rgba(var(--btn-warning), 0.1);
			}
		}

		&.dark {
			border: solid 2px rgba(var(--btn-dark), 1);

			&:hover {
				background: rgba(var(--btn-dark), 0.1);
			}
		}

		&.light {
			border: solid 2px rgba(var(--btn-light), 1);

			&:hover {
				background: rgba(var(--btn-light), 0.1);
			}
		}

		&.energy {
			border: solid 2px rgba(var(--btn-energy), 1);

			&:hover {
				background: rgba(var(--btn-energy), 0.1);
			}
		}
	}

	&.cleaned {
		transition: background-color 0.3s ease-in-out;

		&.primary {
			color: rgba(var(--btn-primary), 1);

			&:hover {
				background: rgba(var(--btn-primary), 0.2);
			}
		}

		&.success {
			color: rgba(var(--btn-success), 1);

			&:hover {
				background: rgba(var(--btn-success), 0.2);
			}
		}

		&.danger {
			color: rgba(var(--btn-danger), 1);

			&:hover {
				background: rgba(var(--btn-danger), 0.2);
			}
		}

		&.info {
			color: rgba(var(--btn-info), 1);

			&:hover {
				background: rgba(var(--btn-info), 0.2);
			}
		}

		&.warning {
			color: rgba(var(--btn-warning), 1);

			&:hover {
				background: rgba(var(--btn-warning), 0.2);
			}
		}

		&.dark {
			color: rgba(var(--btn-dark), 1);

			&:hover {
				background: rgba(var(--btn-dark), 0.2);
			}
		}
		&.light {
			color: rgba(var(--btn-light), 1);

			&:hover {
				background: rgba(var(--btn-light), 0.2);
			}
		}
		&.energy {
			color: rgba(var(--btn-energy), 1);

			&:hover {
				background: rgba(var(--btn-energy), 0.2);
			}
		}
	}

	&.image {
		position: relative;
		padding-left: 3.7em !important;
		padding-right: 1.1em !important;

		img {
			width: 42px;
			height: 42px;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.05);
			left: 0;
			padding: 5px;
			text-align: center;
			margin: 0;
		}
	}

	&.iconed {
		position: relative;
		padding-left: 3em !important;

		i {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			line-height: 1;
			border-radius: 0;
			border-top-left-radius: inherit;
			border-bottom-left-radius: inherit;
			text-align: center;
			-webkit-animation: none;
			animation: none;
			padding: 0.78571429em 0 0.78571429em 0;
			margin: 0;
			width: 2.57142857em;
			background-color: rgba(0, 0, 0, 0.05);
			color: "";
			-webkit-box-shadow: -1px 0 0 0 transparent inset;
			box-shadow: -1px 0 0 0 transparent inset;
		}
	}

	&.icon {
		padding: 10px;
		text-align: center;

		i {
			margin: 0;
			vertical-align: bottom;
		}

		&.circle {
			width: 42px;
			height: 42px;
			border-radius: 100%;
		}

		&.square {
			width: 42px;
			height: 42px;
			border-radius: 4px;
		}
	}

}


.ui.buttons{
	&.gruoped-button{
	.button{
		background:var(--content-bg-color)!important;
		color:var(--font-color)!important;
		&.active {
			background-color: var(--bg-color) !important;
		}
	}
}
}
.ui.button{
	&.modal-btn{
		margin-bottom: 10px;
	}
	&.modal-transition-btn{
		margin-bottom: 10px;
	}
}
