.ui.cards {
	.card {
		//box-shadow: none;
		background: var(--partials-bg-color);
		.content {
			.header {
				color: var(--link-color) !important;
			}
			img{
				object-fit: cover;
			}
			.feed {
				.event {
					.content {
						.summary {
							color: var(--font-color);
							a {
								color: var(--link-color) !important;
							}
						}
					}
				}
			}

			.meta,
			.description {
				color: var(--font-color);
			}
			&.extra {
				a,
				i {
					color: var(--font-color);
				}
			}
		}
		.image {
			img {
				width:100%;
				height: 300px;
				object-fit: cover;
			}
		}
	}
	&.horizontal {
		.card {
			//box-shadow: none;
			.image {
				img {
					width:100%;
					height: 150px;
					object-fit: cover;
				}
				@include mq("phablet", max) {
					width:100%;
				}
			}
			.content {
				.header {
					color: var(--link-color) !important;
				}
				.meta,
				.description,
				.meta a {
					color: var(--font-color);
				}
				&.extra {
					a {
						color: var(--font-color);
					}
				}
			}
		}
	}
}
