.ui.form {
    &.andi-form {
        .field {
            input,textarea {
                background: var(--content-bg-color);
            }

            label,i {
                color: var(--font-color);
            }

            .andi-dropdown,.ui.dropdown {
                margin: 0px;

                transition: 0.1s;
                box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);

                background: var(--content-bg-color);
                border-radius: 3px;

                .menu {
                    background: var(--partials-bg-color) !important;

                    .item {
                        color: var(--font-color) !important;
						font-weight: 500;
						transition: all 0.2s;
						border-color: var(--content-bg-color);
                        &:hover {
							background: var(--partials-bg-color);
							color: var(--font-color);
                        }
                    }
                }
            }
        }
	}
	.fields{
		label {
			color: var(--font-color)!important;
			cursor: pointer;
			font-family: "Muli400", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
			font-size: 0.9em;
			&:hover {
				color: var(--font-color);
			}
		}
	}


}
