.ui.list {
    .item {

        .content {
			color: var(--font-color);
			padding: 0!important;

			.description{
				color: var(--font-color);
			}
			a,.header{
				color:var(--link-color)!important
			}
		}
	}
	&.divided{
		.item{
		border-top: 1px solid var(--font-color);
		}
	}
}
