.ui.radio{
	label {
		color: var(--font-color);
		cursor: pointer;
		font-family: "Muli400", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
		font-size: 0.9em;
		&:hover {
			color: var(--font-color);
		}
	}
}
