.table-wrapper{
	overflow-x:auto;
}
.andi-table {
  &.ui.table {
	background: var(--bg-color);
	border-color: rgba(var(--rgb-white),.1);
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	thead{
		tr{
			th{
				background: var(--content-bg-color);
				color: var(--font-color);
				border-color: rgba(var(--rgb-white),.1);
			}
		}
	}
    tbody {
      tr {
        td {
          border-color: rgba(var(--rgb-white),.1);
          color: var(--font-color);
          h4 {
            margin: 0;
            padding: 0;
            .content {
              padding: 0;
              margin: 5px 0 0 10px;
              .sub.header {
                color: var(--font-color);
              }
            }
          }
		}
		&.positive{
			background: var(--content-bg-color)!important;
		}
		&.negative{
			background: var(--content-bg-color)!important;
		}
      }
    }
  }
  &.__restaurant-table{
	  border:0;
	  thead{
		  background: transparent;
	  }
	  tbody{
		  tr{
			  td{
				font-family: 'Muli400', 'Helvetica Neue', Arial, Helvetica, sans-serif!important;
			  }
		  }
	  }
  }
}
