.chatbox-content {
    .chat-list {
        background: rgba(var(--btn-primary), 1);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 780px;

        .items {
            .item {
                cursor: pointer;
                position: relative;
                background: var(--bg-color);
                padding: 12px !important;
                border-radius: 0;
                margin: 0;

                &.active {
                    background: var(--content-bg-color)
                }

                .content {

                    .meta,
                    .description,
                    .extra {
                        color: var(--font-color)
                    }

                    a.header {
                        color: var(--link-color)
                    }
                }
            }
        }
    }

    .chat-content {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0;

        .header {
            width: 100%;
            height: 40px;
            background: rgba(var(--btn-primary), 1);
        }
		.input-wrapper{
			background: rgba(var(--btn-primary), 1);
			padding:10px;
		}
        .wrapper {
            overflow-y: scroll;
            height: 677px;
            padding: 40px 30px;

            .date {
                position: absolute;
                left: 50%;
                margin-left: -50px;
                top: 13%;
                margin-top: -50px;
                background: rgba(var(--btn-danger), .8);
                padding: 10px;
                color: #fff;
                border-radius: 10px;
            }

            .bubble-wrapper {
				padding-top: 50px;
                .msg {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 10px;
                }

                .msg:last-of-type {
                    margin: 0;
                }

                .msg-img {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                    background: #ddd;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 50%;
                }

                .msg-bubble {
                    max-width: 450px;
                    padding: 15px;
                    border-radius: 15px;
                    background: rgba(var(--btn-primary), 1);
                }

                .msg-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                }

                .msg-info-name {
                    margin-right: 10px;
                    font-weight: bold;
                }

                .msg-info-time {
                    font-size: 0.85em;
                }

                .left-msg .msg-bubble {
                    border-bottom-left-radius: 0;
                    color: #fff;
                }

                .right-msg {
                    flex-direction: row-reverse;
                }

                .right-msg .msg-bubble {
                    background: rgba(var(--btn-success), 1);
                    color: #fff;
                    border-bottom-right-radius: 0;
                }

                .right-msg .msg-img {
                    margin: 0 0 0 10px;
                }
            }
        }
    }

}
