.filter-container {
	columns: 6 200px;
	column-gap: 1rem;
	.mix {
		width: 150px;
		margin: 0 1rem 1rem 0;
		display: inline-block;
		width: 100%;
		&.primary {
			background: rgba(var(--btn-primary), 1);
		}

		&.success {
			background: rgba(var(--btn-success), 1);
		}

		&.info {
			background: rgba(var(--btn-info), 1);
		}
		&.danger {
			background: rgba(var(--btn-danger), 1);
		}
		&.energy {
			background: rgba(var(--btn-energy), 1);
		}
	}
	@for $i from 1 through 36 {
		.mix:nth-child(#{$i}) {
			$h: (random(400) + 100) + px;
			height: $h;
			line-height: $h;
		}
	}
}
