.gallery-content{
	.image-container{
		.card{
			border:0;
			box-shadow: none;
			.image{
				width:100%;
				height: 300px;

				a{
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 5px;
					}
				}
			}
			}


	}
}

.lg-outer{
	transition: background-color .5s linear,
				left .1s ease-out 1s,
				transform 1s steps(3, start)!important;
}
