/* ---------------------------------------------------
    LEFT SIDEBAR STYLE
----------------------------------------------------- */
.display-none {
	display: none !important;
}

.slimScrollDiv {
	height: auto !important;
}

#sidebar {
	top: 0px;
	left: 0px;
	bottom: 0px;
	height: 100%;
	box-sizing: border-box;
	position: fixed;
	z-index: 99;
	min-width: 235px;
	max-width: 235px;
	z-index: 999;
	color: #fff;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
	border-right: 0;
	box-shadow: none;
	.slimScrollDiv,
	.slimscroll {
		overflow: inherit !important;
		overflow-y: hidden !important;
		overflow-x: hidden !important;
	}

	&.collapse {
		min-width: 60px;
		max-width: 60px;
		-webkit-transform: min-width(60px), max-width(60px);
		-ms-transform: min-width(60px), max-width(60px);
		-o-transform: min-width(60px), max-width(60px);
		transform: min-width(60px), max-width(60px);

		.slimScrollBar {
			visibility: hidden !important;
		}

		.slimScrollDiv,
		.slimscroll {
			overflow: visible !important;
		}

		.side-menu {
			.side-header {
				.content {
					display: none;
				}
			}

			.title {
				.accordion-text {
					display: none;
				}
			}
		}
	}

	.side-menu {
		border-radius: 0;
		max-height: calc(100% - 0px);

		border-right: 1px solid rgba(var(--font-color-rgb), 0.1) !important;
		height: 100%;
		border-top: 0;
		border-left: 0;
		border-bottom: 0;

		padding-bottom: 71px;
		box-shadow: none !important;

		background-color: var(--partials-bg-color);

		.side-header {
			padding: 13px 0;
			height: 69px;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			display: block;

			h4 {
				margin-left: 8px;
				text-transform: uppercase;

				.content {
					background: -webkit-linear-gradient(-50deg, #ff2882, #963cff);
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
					font-size: 1.1em;
					padding-top: 5px;
				}
			}

			&:hover {
				//background: rgba(255, 255, 255, 0.8);
			}
		}
		.item {
			&.single-menu-item {
				padding: 10px 0px;
				color: var(--font-color);
				-webkit-transition: -webkit-transform 0.25s ease;
				transition: -webkit-transform 0.25s ease;
				margin-left: 5px;
				display: inline-block;
				span {
					vertical-align: middle;
					margin-left: 4px;
				}
				i {
					float: left;
					margin-left: 5px;
					font-size: 1.3em;
					color: var(--font-color);
				}
				&:hover {
					-webkit-transform: translateX(5px);
					transform: translateX(5px);
				}
			}
		}
		.ui.dropdown {
			&.item {
				padding: 10px;
				display: block;
				color: var(--font-color);
				border: 0;
				-webkit-transition: -webkit-transform 0.25s ease;
				transition: -webkit-transform 0.25s ease;
				height: 40px;

				.menu-icon {
					float: left;
					color: var(--font-color);
					margin-left: 5px;
					font-size: 1.5em;
				}

				&.visible,
				&.active {
					background: rgba(var(--btn-primary), 1);
				}

				&:hover {
					&.visible {
						background: rgba(var(--btn-primary), 1);
					}
				}

				.menu {
					background: var(--partials-bg-color);
					min-width: 150px;
					padding: 0;
					border: 0;
					border-radius: 0 !important;
					.menu-text {
						width: 100% !important;
						display: inline-flex !important;
						align-items: center;
						justify-content: flex-start;

						color: var(--font-color);
						height: 40px;
						padding: 10px;
						background: rgba(var(--btn-primary), 1);
					}

					&.visible {
						z-index: 999999;
					}

					.item {
						color: var(--font-color) !important;
					}
				}
			}
		}

		.title {
			padding: 10px;
			display: block;
			color: var(--font-color);
			border: 0;
			font-weight: 300 !important;
			font-size: 0.9em !important;

			-webkit-transition: -webkit-transform 0.25s ease;

			&:hover {
				-webkit-transform: translateX(5px);
				transform: translateX(5px);
			}

			.menu-icon {
				font-size: 1.6em;
				color: var(--font-color);
			}

			.accordion-text {
				vertical-align: top;

				color: var(--font-color);
			}

			.drop-icon {
				&.icon {
					color: var(--font-color);
					float: right;
					-webkit-transition: -webkit-transform 0.5s;
					transition: -webkit-transform 0.5s;
					-o-transition: -o-transform 0.5s;
					-moz-transition: transform 0.5s, -moz-transform 0.5s;
					-moz-transition: transform 0.5s, -moz-transform 0.5s;
					transition: transform 0.5s;
					transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
					transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
				}
			}

			&.active {
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 5px;
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					height: 100%;
					background: linear-gradient(270deg, #ff2882, #963cff);
				}

				.drop-icon {
					&.icon {
						-webkit-transform: rotate(540deg);
						-moz-transform: rotate(540deg);
						-ms-transform: rotate(540deg);
						-o-transform: rotate(540deg);
						transform: rotate(540deg);
						-webkit-transition: -webkit-transform 0.5s;
						transition: -webkit-transform 0.5s;
						-o-transition: -o-transform 0.5s;
						-moz-transition: transform 0.5s, -moz-transform 0.5s;
						-moz-transition: transform 0.5s, -moz-transform 0.5s;
						transition: transform 0.5s;
						transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
						transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
						background: -webkit-linear-gradient(270deg, #ff2882, #963cff);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
		}

		.content {
			border: 0;
			padding: 0;

			&.collapse {
				position: absolute;
				left: 60px;
				width: 100px;
				height: 100px;
				z-index: 9999;
			}

			.item {
				padding: 10px 10px 10px 40px;
				font-size: 0.9em !important;
				font-weight: 300;
				font-family: "Muli300", "Helvetica Neue", Arial, Helvetica, sans-serif;
				color: var(--font-color);
				-webkit-transition: -webkit-transform 0.25s ease;
				&.active {
					color: rgba(var(--btn-primary), 1);
					font-weight: 700;
				}
				&:hover {
					-webkit-transform: translateX(5px);
					transform: translateX(5px);
				}
			}

			.accordion {
				padding: 0;
				margin: 0;
				background: transparent;
				border-radius: 0;
				box-shadow: none;

				&.visible {
					color: white;
				}

				.title {
					padding: 10px 10px 10px 40px;
					color: var(--font-color);
					font-weight: 300 !important;
					font-size: 0.9em !important;
					font-family: "Muli300", "Helvetica Neue", Arial, Helvetica, sans-serif;

					&.active {
						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 5px;
							border-top-right-radius: 10px;
							border-bottom-right-radius: 10px;
							height: 100%;
							background: linear-gradient(270deg, #ff2882, #963cff);
						}

						.accordion-text {
						}

						.drop-icon {
						}
					}

					&:hover {
						.accordion-text {
						}

						.drop-icon {
						}
					}

					&:focus {
						.accordion-text {
						}

						.drop-icon {
						}
					}
				}

				.content {
					.item {
						padding: 10px 10px 10px 60px;
						font-weight: 300 !important;
						font-size: 0.9em !important;
						color: var(--font-color);
						font-family: "Muli300", "Helvetica Neue", Arial, Helvetica, sans-serif;
						&.active {
							color: red !important;
						}
					}
				}
			}
		}
	}
}

